* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Times New Roman', serif;
}

html, body {
  height: 100%;
  background-color: rgb(18, 18, 57);
  color: darkkhaki;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 1rem;
  font-weight: 1000;
}

.editor {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  background: rgb(18, 18, 57);
}

.panel {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 10px;
  border-radius: 8px;
}

.panel label {
  font-size: 18px;
  margin-bottom: 5px;
}

textarea {
  flex: 1;
  width: 100%;
  background: darkgrey;
  color: black;
  font-size: 16px;
  border: none;
  padding: 10px;
  resize: none;
  border-radius: 4px;
}

.output {
  height: 40%;
  margin: 10px;
  padding: 10px;

}

iframe {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: white;
}

@media (max-width: 768px) {
  .panel {
    flex: 1 1 100%;
  }
}
